@model LWT.DiscoPlugin.Models.ConfigurationModel
<div class="clearfix" style="width: 750px; margin: 0 auto 0 auto;">
    <div style="float: left; width: 300px; text-align: center; padding-top: 40px;">
        <a href="http://www.lwt.com.au/" target="_blank">
            <img src="@Plugin.ResourceUrl("LWTLogo.png")" alt="LWT Logo" style="width: 213px; height: 48px;" /></a></div>
    <div class="form" style="float: left; width: 450px">
        <h2>
            Customer Identification Details</h2>
        <table>
            <tr>
                <th style="width: 160px">
                    Customer Entity Id:
                </th>
                <td>
                    @Html.EditorFor(m => m.CustomerEntityId)<br />
                    @Html.ValidationMessageFor(m => m.CustomerEntityId)
                </td>
            </tr>
            <tr>
                <th style="width: 160px">
                    Customer Username:
                </th>
                <td>
                    @Html.EditorFor(m => m.CustomerUsername)<br />
                    @Html.ValidationMessageFor(m => m.CustomerUsername)
                </td>
            </tr>
        </table>
        <p>
            <strong>Note:</strong> If you don't know these details, please contact <a href="http://www.lwt.com.au/"
                target="_blank">Learning&nbsp;With&nbsp;Technology</a> for support (Service
            Desk: 1300 556 788).</p>
    </div>
</div>